* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 1.5rem;
    position: relative;
}

body:after {
    content: '';
    position: fixed;
    inset: 0;
    background-color: rgb(65, 95, 248);
    height: 100vh;
    clip-path: polygon(0 100%, 0 0, 100% 0, 70% 100%);
    z-index: -1;
}

.login-container {
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0 10px 50px -30px black;
    width: 1200px;
    border-radius: 15px;
    overflow: hidden;
    display: grid;
    grid-template-columns: auto auto;
}

.login-container a {
    text-decoration: none;
    color: rgb(65, 95, 248);
}

.login-container .column {
    padding: 4rem;
}

.login-container .column:last-child {
    background: url('https://cdn-icons-png.flaticon.com/512/5847/5847295.png') center;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.login-container h1 {
    font-size: 4rem;
    margin-bottom: 20px;
    color: black;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-size: 1.2rem;
    margin-bottom: 5px;
    color: #333;
}

.input-group {
    position: relative;
    width: 100%;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.input-group-text {
    background-color: #ddd;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 9px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -26px;
}

.btn-primary {
    background-color: rgb(65, 95, 248);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #445bbb;
}

.text-center {
    text-align: center;
}